<div class="row">
  <div class="small-12 medium-6 columns">
    <div id="kd-leaderboard-header-box">
      <h3 class="text-center" id="kd-leaderboard-header">K/D Leaderboard</h3>
    </div>
    <div class="" id="kd-leaderboard-box">
      <div id="kd-leaderboard-list-container">
        <ul class="" id="kd-leaderboard-list">
          <% @kd_ranks.each do |player| %>
            <a href="/stats/<%= player.steamid %>">
              <li>
                <img src="<%= getPlayersum(player.steamid).avatar_medium %>" class="leaderboard-image" width="50" height="50" />
                <h3><%= player.nickname %><h3>
                <h4>K/D: <strong><%= player.kd %></strong><h4>
                <h6>Steam ID: <%= player.steamid %><h6>
              </li>
            </a>
          <%end%>
        </ul>
      </div>
    </div>
    </br>
  </div>

  <div class="small-12 medium-6 columns">
    <div id="wl-leaderboard-header-box">
      <h3 class="text-center" id="wl-leaderboard-header">W/L Leaderboard</h3>
    </div>
    <div class="" id="wl-leaderboard-box">
      <div id="wl-leaderboard-list-container">
        <ul class="" id="wl-leaderboard-list">
          <% @wl_ranks.each do |player| %>
            <a href="/stats/<%= player.steamid %>">
              <li>
                <img src="<%= getPlayersum(player.steamid).avatar_medium %>" class="leaderboard-image" width="50" height="50" />
                <h3><%= player.nickname %><h3>
                <h4>W/L: <strong><%= player.wl %></strong><h4>
                <h6>Steam ID: <%= player.steamid %><h6>
              </li>
            </a>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>
