<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" min-width="500px" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kanit:600italic' rel='stylesheet' type='text/css'>

    <title><%= content_for?(:title) ? yield(:title) : "LiveStats: Quake Live Stat Hub" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1 id="website-header"><a id="home-compass" href="/"><strong>LiveStats</strong></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-dropdown">
          <% if session.key? :user %>
            <li class="divider"></li>
            <li class="text-center"><a href="/profile"><%= session[:user]["nickname"] %><%= image_tag session[:user]["image"], class: 'avatar' %></a></li>
            <li class="divider"></li>
            <li class="text-center"><a href="/logout">Logout</a></li>
            <li class="divider"></li>
          <% else %>
            <li class="text-center"><%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png"), '/auth/steam' %></li>
          <% end %>
        </ul>
      </nav>
    </br></br>
    <%= yield %>
    </br></br>
    <%= javascript_include_tag "application" %>
  </body>

  <footer>
    <div class="text-center" id="footer-bg">
      <br>
      <div class="inline">
        <a href="http://steampowered.com" id="steampowered">Powered by Steam.</a>
      </div>
      <div class="inline">
        <p id="credit">Created by <a href="https://steamcommunity.com/id/cantstoptheb0p" style="color: #cccccc">b0p.</a></p>
      </div>
    </div>
  </footer>
</html>
