<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kanit:600italic' rel='stylesheet' type='text/css'>

    <%= favicon_link_tag 'favicon.ico' %>

    <title><%= content_for?(:title) ? yield(:title) : "LiveStats: Quake Live Stat Hub" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="noselect">
      <div class="fixed">
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
              <h1 id="website-header"><a id="home-compass" href="/"><strong style="color:#811B1F">Live</strong><strong>Stats</strong></a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li class="has-dropdown">
              <% if session.key? :user %>
                <li class="divider"></li>
                <li class="text-center"><a href="/stats/<%= session[:user]["uid"] %>" id="profile-link-text"><%= session[:user]["nickname"] %><%= image_tag session[:user]["image"], class: 'avatar' %></a></li>
                <li class="divider"></li>
                <li class="text-center"><a href="/logout" id="logout-link-text">Logout</a></li>
                <li class="divider"></li>
              <% else %>
                <li class="divider"></li>
                <li class="text-center"><%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png"), '/auth/steam' %></li>
              <% end %>
            </ul>
          </nav>
        </div>
        </br></br>
        <%= yield %>
        </br></br></br>
    </div>
    <%= javascript_include_tag "application" %>
  </body>

  <footer style="position:fixed;bottom:0;left:0;right:0;height:30px;">
    <div class="text-center" id="footer-bg">
      <div class="inline">
        <a href="http://steampowered.com" id="steampowered">Powered by Steam.</a>
      </div>
      <div class="inline">
        <p id="credit">Created by <a href="https://steamcommunity.com/id/cantstoptheb0p" style="color: #cccccc">b0p.</a></p>
      </div>
    </div>
  </footer>
</html>
